*  /* changes overall styles*/
   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* edit body section */
body {
    background-color: black;
}

/* edit header (h1) */
header {

    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1{
    display: inline-block;
    font-size: 48px;
}

/* edits specific letters in the header word */
h1 .seo {
  color: aqua;  
}
header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-left: 700px;
    margin-bottom: ;
}

/* edits "a" selector*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*edits paragraph*/
p {
    font-size: 16px;
}

/*edits selector "hero"*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* edits search engine opt */
.float-left {
    float: left;
    margin-right: 25px;
}

/* edit online reputation management */
.float-right {
    float: right;
    margin-left: 25px;
}

/* edits all of content block */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* edits all of benefits block */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    float: top;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* edits benefit section */
.benefit {
    margin-bottom: 32px;
    color: #ffffff
}

/* edits benefit-lead header */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* edits benefit-brand header */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* edits benefit-cost header */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* edits  benefit-lead img */
.benefit {
    height: 100%;
    float: top, right;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px auto;
    max-width: 150px;
}

/* displays search-engine-optimization block */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* displays online reputation block */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* displays social-media-marketin block */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* displays s.e.o img */
.search-engine-optimization img {
    max-height: 200px;
}

/* displays o.r.m img */
.online-reputation-management img {
    max-height: 200px;
}

/* displays s.m.m img */
.social-media-marketing img {
    max-height: 200px;
}

/* displays s.e.o header (h2) */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* displays o.r.m img */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* displays s.m.m img */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* hidden footer */
.footer {
    display: none;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}


